# Exploratory Data Analysis: Toussaint Louverture International Airport 2017 - 2020

In [2]:
# Import the required packages
import pandas as pd 
import numpy as np  # linear algebra
import pylab as plt
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots

### Adjusting `matplotlib` parameters

In [3]:
SMALL_SIZE = 12
MEDIUM_SIZE = 14
BIGGER_SIZE = 16

plt.rc('font', size=SMALL_SIZE)          # controls default text sizes
plt.rc('axes', titlesize=SMALL_SIZE)     # fontsize of the axes title
plt.rc('axes', labelsize=MEDIUM_SIZE)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('legend', fontsize=SMALL_SIZE)    # legend fontsize
plt.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title

# Data Preparation

### Obtaining the data

The original data can be seen on the site Toussaint Louverture International Airport (https://www.flightera.net/fr/airport/Port-au-Prince/MTPP/arrival "Toussaint Louverture International Airport"). The selected columns are the same as in this older.

Please refer to [this](https://github.com/Shito3/Airplanes_Analysis/tree/master/Results) notebook on how to scrap the raw data to CSV format.

### Read in the data

In [15]:
# Import Customer Churn Dataset 
url = 'Dataset/airplane_data.csv'
# Read in the data
df = pd.read_csv(url)
# Quick insights into the dataset
df.head()

,Unnamed: 0,Date / Statut,Vol,De,Arrivée Planifiée,Départ,Arrivé,Durée,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,0,"dim, 01. oct 2017 07:48 EDT A Atterri",B61509 JBU1509 JetBlue Airways (B6 / JBU),Fort Lauderdale (FLL / KFLL),07:48 EDT,06:16 EDT 16 min retard,07:54 EDT 6 min retard,1h 37m,NaN,NaN,NaN,NaN,NaN
1,1,"dim, 01. oct 2017 07:48 EDT A Atterri",B61509 JBU1509 JetBlue Airways (B6 / JBU),Fort Lauderdale (FLL / KFLL),07:48 EDT,06:16 EDT 16 min retard,07:54 EDT 6 min retard,1h 37m,NaN,NaN,NaN,NaN,NaN
2,2,"dim, 01. oct 2017 08:00 EDT A Atterri",S6200 Flag of Haiti Sunrise Airways (S6 / KSZ),Santo Domingo (SDQ / MDSD),08:00 EDT,07:15 AST à temps,08:00 EDT à temps,45m,NaN,NaN,NaN,NaN,NaN
3,3,"dim, 01. oct 2017 08:02 EDT A Atterri",AA1158 AAL1158 American Airlines (AA / AAL),Fort Lauderdale (FLL / KFLL),08:02 EDT,06:09 EDT 9 min retard,07:46 EDT 16 min tôt,1h 36m,NaN,NaN,NaN,NaN,NaN
4,4,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...

### Let's delete the columns that are not part of the table.

In [16]:
df = df.drop(['Unnamed: 7','Unnamed: 0','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11'],axis=1)

In [17]:
df.head() #Let's look at the result now.

,Date / Statut,Vol,De,Arrivée Planifiée,Départ,Arrivé,Durée
0,"dim, 01. oct 2017 07:48 EDT A Atterri",B61509 JBU1509 JetBlue Airways (B6 / JBU),Fort Lauderdale (FLL / KFLL),07:48 EDT,06:16 EDT 16 min retard,07:54 EDT 6 min retard,1h 37m
1,"dim, 01. oct 2017 07:48 EDT A Atterri",B61509 JBU1509 JetBlue Airways (B6 / JBU),Fort Lauderdale (FLL / KFLL),07:48 EDT,06:16 EDT 16 min retard,07:54 EDT 6 min retard,1h 37m
2,"dim, 01. oct 2017 08:00 EDT A Atterri",S6200 Flag of Haiti Sunrise Airways (S6 / KSZ),Santo Domingo (SDQ / MDSD),08:00 EDT,07:15 AST à temps,08:00 EDT à temps,45m
3,"dim, 01. oct 2017 08:02 EDT A Atterri",AA1158 AAL1158 American Airlines (AA / AAL),Fort Lauderdale (FLL / KFLL),08:02 EDT,06:09 EDT 9 min retard,07:46 EDT 16 min tôt,1h 36m
4,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...

In [30]:
df[df['Date / Statut'].isna()]

      Date / Statut  Vol   De Arrivée Planifiée Départ Arrivé Durée
16              NaN  NaN  NaN               NaN    NaN    NaN   NaN
28              NaN  NaN  NaN               NaN    NaN    NaN   NaN
52              NaN  NaN  NaN               NaN    NaN    NaN   NaN
64              NaN  NaN  NaN               NaN    NaN    NaN   NaN
88              NaN  NaN  NaN               NaN    NaN    NaN   NaN
...             ...  ...  ...               ...    ...    ...   ...
20700           NaN  NaN  NaN               NaN    NaN    NaN   NaN
20724           NaN  NaN  NaN               NaN    NaN    NaN   NaN
20736           NaN  NaN  NaN               NaN    NaN    NaN   NaN
20760           NaN  NaN  NaN               NaN    NaN    NaN   NaN
20772           NaN  NaN  NaN               NaN    NaN    NaN   NaN

[1171 rows x 7 columns]

In [18]:
df.info() # About DF

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20780 entries, 0 to 20779
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date / Statut      19609 non-null  object
 1   Vol                19609 non-null  object
 2   De                 19609 non-null  object
 3   Arrivée Planifiée  19609 non-null  object
 4   Départ             19386 non-null  object
 5   Arrivé             19386 non-null  object
 6   Durée              19608 non-null  object
dtypes: object(7)
memory usage: 568.3+ KB

In [36]:
df.dropna(inplace = True)

In [44]:
df_final = df[~df['Date / Statut'].str.contains('window.')]

In [45]:
df_final.head()

,Date / Statut,Vol,De,Arrivée Planifiée,Départ,Arrivé,Durée
0,"dim, 01. oct 2017 07:48 EDT A Atterri",B61509 JBU1509 JetBlue Airways (B6 / JBU),Fort Lauderdale (FLL / KFLL),07:48 EDT,06:16 EDT 16 min retard,07:54 EDT 6 min retard,1h 37m
1,"dim, 01. oct 2017 07:48 EDT A Atterri",B61509 JBU1509 JetBlue Airways (B6 / JBU),Fort Lauderdale (FLL / KFLL),07:48 EDT,06:16 EDT 16 min retard,07:54 EDT 6 min retard,1h 37m
2,"dim, 01. oct 2017 08:00 EDT A Atterri",S6200 Flag of Haiti Sunrise Airways (S6 / KSZ),Santo Domingo (SDQ / MDSD),08:00 EDT,07:15 AST à temps,08:00 EDT à temps,45m
3,"dim, 01. oct 2017 08:02 EDT A Atterri",AA1158 AAL1158 American Airlines (AA / AAL),Fort Lauderdale (FLL / KFLL),08:02 EDT,06:09 EDT 9 min retard,07:46 EDT 16 min tôt,1h 36m
5,"dim, 01. oct 2017 08:02 EDT A Atterri",AA1158 AAL1158 American Airlines (AA / AAL),Fort Lauderdale (FLL / KFLL),08:02 EDT,06:09 EDT 9 min retard,07:46 EDT 16 min tôt,1h 36m

In [19]:
df.isnull().sum() #

Date / Statut        1171
Vol                  1171
De                   1171
Arrivée Planifiée    1171
Départ               1394
Arrivé               1394
Durée                1172
dtype: int64

In [20]:
df.shape

(20780, 7)

In [22]:
df.shape

(20780, 7)

In [23]:
df.dropna() # Delete a missing values

,Date / Statut,Vol,De,Arrivée Planifiée,Départ,Arrivé,Durée
0,"dim, 01. oct 2017 07:48 EDT A Atterri",B61509 JBU1509 JetBlue Airways (B6 / JBU),Fort Lauderdale (FLL / KFLL),07:48 EDT,06:16 EDT 16 min retard,07:54 EDT 6 min retard,1h 37m
1,"dim, 01. oct 2017 07:48 EDT A Atterri",B61509 JBU1509 JetBlue Airways (B6 / JBU),Fort Lauderdale (FLL / KFLL),07:48 EDT,06:16 EDT 16 min retard,07:54 EDT 6 min retard,1h 37m
2,"dim, 01. oct 2017 08:00 EDT A Atterri",S6200 Flag of Haiti Sunrise Airways (S6 / KSZ),Santo Domingo (SDQ / MDSD),08:00 EDT,07:15 AST à temps,08:00 EDT à temps,45m
3,"dim, 01. oct 2017 08:02 EDT A Atterri",AA1158 AAL1158 American Airlines (AA / AAL),Fort Lauderdale (FLL / KFLL),08:02 EDT,06:09 EDT 9 min retard,07:46 EDT 16 min tôt,1h 36m
4,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...
...,...,...,...,...,...,...,...
20775,"ven, 10. mai 2019 18:09 EDT A Atterri",B61709 JBU1709 JetBlue Airways (B6 / JBU),Fort Lauderdale (FLL / KFLL),18:09 EDT,16:24 EDT 21 min retard,18:03 EDT 5 min tôt,1h 39m
20776,"ven, 10. mai 2019 18:15 EDT A Atterri",S6305 KSZ0305 Peruvian Airlines (P9 / PVN),Havana (HAV / MUHA),18:15 EDT,16:00 CDT planifié,17:31 EDT 43 min tôt,1h 31m
20777,"ven, 10. mai 2019 18:20 EDT A Atterri",AF606 AFR606 Air France (AF / AFR),Pointe-a-Pitre (PTP / TFFR),18:20 EDT,17:37 AST 1 h 17 min retard,19:21 EDT 1 h 1 min retard,1h 43m
20778,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...
20779,"sam, 11. mai 2019 07:00 EDT A Atterri",UP193 BHS193 Bahamasair (UP / BHS),Nassau (NAS / MYNN),07:00 EDT,06:10 EDT 10 min retard,08:02 EDT 1 h 2 min retard,1h 51m

In [24]:
df.tail()

,Date / Statut,Vol,De,Arrivée Planifiée,Départ,Arrivé,Durée
20775,"ven, 10. mai 2019 18:09 EDT A Atterri",B61709 JBU1709 JetBlue Airways (B6 / JBU),Fort Lauderdale (FLL / KFLL),18:09 EDT,16:24 EDT 21 min retard,18:03 EDT 5 min tôt,1h 39m
20776,"ven, 10. mai 2019 18:15 EDT A Atterri",S6305 KSZ0305 Peruvian Airlines (P9 / PVN),Havana (HAV / MUHA),18:15 EDT,16:00 CDT planifié,17:31 EDT 43 min tôt,1h 31m
20777,"ven, 10. mai 2019 18:20 EDT A Atterri",AF606 AFR606 Air France (AF / AFR),Pointe-a-Pitre (PTP / TFFR),18:20 EDT,17:37 AST 1 h 17 min retard,19:21 EDT 1 h 1 min retard,1h 43m
20778,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...
20779,"sam, 11. mai 2019 07:00 EDT A Atterri",UP193 BHS193 Bahamasair (UP / BHS),Nassau (NAS / MYNN),07:00 EDT,06:10 EDT 10 min retard,08:02 EDT 1 h 2 min retard,1h 51m

In [25]:
df.shape

(20780, 7)

In [26]:
# # Get a high level overview of the DataFrame
df.describe()

,Date / Statut,Vol,De,Arrivée Planifiée,Départ,Arrivé,Durée
count,19609,19609,19609,19609,19386,19386,19608
unique,11064,376,61,885,5608,6953,431
top,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,Fort Lauderdale (FLL / KFLL),(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...
freq,2245,2245,4380,2245,2245,2245,2245

### Filtering on the base `df.describe()`

This filters out the unphisical measurements.

In [27]:
#df2 = df.set_index('(adsbygoogle = window.adsbygoogle || []).push({});') 
df2 = df.filter("adsbygoogle", axis=0)